.header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.link {
  color: #95e1d3;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-right: 55px;
  text-transform: uppercase;
}
.item {
  display: inline-block;
}
.link-1 {
  color: #f38181;
}
.link-5 {
  margin-right: 0px;
}
.center {
  text-align: center;
  margin-top: 81px;
}
.who {
  font-family: Kaushan Script;
  font-size: 24px;
  color: #333333;
}
.meet {
  font-family: Montserrat;
  font-weight: bold;
  color: #333333;
}
.red {
  background-color: #f38181;
  width: 60px;
  height: 4px;
  display: inline-block;
}
.text {
  font-family: Roboto;
  font-size: 15px;
  color: #b6b6b6;
  width: 1104px;
  margin: 0 auto;
}
.center-2 {
  text-align: center;
}
.people {
  display: inline-block;
  margin-right: 30px;
}
.point {
  font-family: Montserrat;
  font-size: 14px;
  font-variant: small-caps;
  color: #333333;
}
.small {
  font-family: Roboto;
  font-style: italic;
  font-size: 15px;
  color: #b6b6b6;
}
