.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1200px;
  margin: 0 auto;
}
.link {
  color: #95e1d3;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-right: 55px;
  text-transform: uppercase;
}
.item {
  display: inline-block;
}
.link-1 {
  color: #f38181;
}
.link-5 {
  margin-right: 0px;
}
.center {
  text-align: center;
  margin-top: 81px;
}
.who {
  font-family: Kaushan Script;
  font-size: 24px;
  color: #333333;
}
.meet {
  font-family: Montserrat;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
}
.red {
  background-color: #f38181;
  width: 60px;
  height: 4px;
  display: inline-block;
}
.text {
  font-family: Roboto;
  font-size: 15px;
  color: #b6b6b6;
  width: 1104px;
  margin: 0 auto;
}
.center-2 {
  text-align: center;
}
.people {
  display: inline-block;
  margin-right: 30px;
  margin-top: 27px;
}
.people:last-child {
  margin: 0;
}
.point {
  font-family: Montserrat;
  font-size: 14px;
  font-variant: small-caps;
  color: #333333;
}
.small {
  font-family: Roboto;
  font-style: italic;
  font-size: 15px;
  color: #b6b6b6;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  padding-top: 10px;
  border-top: 1px solid #b6b6b6;
}
.text-foot {
  font-size: 14px;
  color: #333333;
}
.email {
  width: 230px;
  height: 39px;
  border: 1px solid #b6b6b6;
}
::placeholder {
  font-family: Roboto;
}
.sub {
  width: 150px;
  height: 40px;
  border: 1px solid #95e1d3;
  background-color: #95e1d3;
  color: #ffffff;
  font-size: 14px;
  font-family: Montserrat;
  text-transform: uppercase;
}
.services {
  display: flex;
  flex-wrap: wrap;
  width: 1168px;
  margin: 0 auto;
}
.ser {
  flex-basis: calc((100% - 0px) / 3);
  align-items: flex-start;
  height: 74px;
  margin-top: 65px;
  margin-bottom: 100px;
}

.title {
  font-family: Montserrat;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}
.text-block {
  font-family: Roboto;
  font-size: 15px;
  color: #b6b6b6;
}
.colum {
  display: inline-block;
}
